$RECYCLE.BIN/
*.cab
*.iws
*.lcov
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.pid
*.pid.lock
*.seed
*.stackdump
*.tgz
*.tsbuildinfo
*~
.Trash-*
.cache
.cache/
.directory
.dynamodb/
.env
.env.test
.eslintcache
.fuse_hidden*
.fusebox/
.grunt
.idea
.idea_modules/
.lock-wscript
.next
.nfs*
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
atlassian-ide-plugin.xml
bower_components
build/Release
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dist
ehthumbs.db
ehthumbs_vista.db
fabric.properties
jspm_packages/
lerna-debug.log*
lib
lib-cov
logs
node_modules/
npm-debug.log*
out
out/
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
web_modules/
yarn-debug.log*
yarn-error.log*
